<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmielD - Fullstack Developer</title>
    <link rel="stylesheet" href="/assets/css/style.css"></link>
</head>
<body>
    <header>
        <h1>Emiel D</h1>
        <h2>Fullstack developer</h2>
        <h3>One step at a time</h3>
    </header>
    
    <main>        
        <div class="container">
            <h2>My vision:</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus distinctio aspernatur id reprehenderit illum. Totam, dolor quis dolorum aperiam temporibus similique commodi aut adipisci non voluptatibus reiciendis distinctio, modi perferendis.</p>
        </div>

        <div class="container">
            <h2>My skills:</h2>

        </div>
        
        <div class="container">
            <h2>Some of the companies I have worked for:</h2>

        </div>
        
        <div class="container">
            <h2>Some of the brands I have worked with:</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa molestiae cumque beatae magnam soluta labore atque dignissimos magni sed sint eius expedita voluptas, ratione ad? Facilis nulla cum illum numquam?</p>
        </div>
    </main>
    
    <footer>made with <span class="heart">❤</span></footer>
</body>
</html>