@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&display=swap");

:root {
  color-scheme: light dark;
  --container-bg: rgb(39, 39, 39);
  --theme-bg: light-dark(var(--light-bg), var(--dark-bg));
  --theme-color: light-dark(var(--light-color), var(--dark-color));
  --theme-container-bg: light-dark(
    var(--light-container-bg),
    var(--dark-container-bg)
  );

  --light-bg: white;
  --light-color: black;

  --dark-bg: #508bcd;
  --dark-color: white;

  --light-container-bg: rgb(117, 117, 117);
  --dark-container-bg: rgba(46, 46, 46, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--theme-bg);
  color: var(--theme-color);
  font-family: "Quicksand", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.theme-toggle {
  margin-right: 20px;
  padding: 10px;
  background-color: var(--theme-container-bg);
  width: 100px;
  border-radius: 20px;
}

.links {
  margin-left: 20px;
  padding: 10px;
  background-color: var(--theme-container-bg);
  width: 100px;
  border-radius: 20px;
}

.github {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets//images/github-dark.svg");
}

.cloud {
  display: block;
  transform: scale(0.5);
}

header {
  margin-top: -45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 50px;
  padding-bottom: 2rem;
}

header > svg > path {
  fill: transparent;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: titleAnimation 6s ease-in-out 1 forwards;
}
@keyframes titleAnimation {
  0% {
    stroke-dashoffset: 1000;
  }
  25% {
    fill: transparent;
  }
  80% {
    fill: white;
  }
  100% {
    fill: white;
    stroke-dashoffset: 0;
  }
}

header > h2 {
  padding-top: 20px;
}

header > h3 {
  padding-top: 10px;
  font-style: italic;
}

hr {
  margin-top: 20px;
  width: 40px;
  border: none;
  height: 1px;
  background-color: white;
}

.scrolldown-button {
  position: absolute;
  margin-top: 75vh;
  height: 25px;
  width: 25px;
  background-image: url("/assets/images/scrolldown-elipse.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  animation: scrollDownElipseAppearance 1s 3s ease-in 1 forwards,
    scrollDownElipseShadowBlur 2s 4s ease-in-out infinite forwards;
}
@keyframes scrollDownElipseAppearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
@keyframes scrollDownElipseShadowBlur {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

.scrolldown-vector {
  background-image: url("/assets/images/scrolldown-vector.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  animation: scrolldownVectorAnimation 1s ease-in-out infinite alternate;
}
@keyframes scrolldownVectorAnimation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

.container::before {
  content: "";

  margin-top: -50px;
  margin-bottom: 20px;

  width: 50px;
  height: 50px;
  background-image: url("/assets/images/elipse.svg");
}

.container {
  scroll-margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  border-radius: 5px;
  background-color: var(--theme-container-bg);
  text-align: center;
  width: min(70%, 500px);
  padding: 20px;
  margin: 200px auto;
}

.container:not(:last-child)::after {
  content: "";

  margin-top: 20px;
  margin-bottom: -50px;

  width: 50px;
  height: 50px;
  background-image: url("/assets/images/elipse.svg");
}

.container > h2 {
  padding-bottom: 20px;
}

footer {
  width: 100%;
  padding: 1rem;
  margin-top: 50px;
  padding-top: 25px;
  background-color: var(--theme-container-bg);
  text-align: center;
}

.heart {
  color: red;
}
